:root {
  --primary-color: rgb(21, 68, 117);
  /**--secondary-color: rgb(246, 188, 72);*/
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --secondary-color: rgb(250, 208, 85);
}
@media (max-width: 600px) {
  .index-image {
    size: 40px;
  }
  .about-image {
    display: none;
  }
  .logo-image {
    display: none;
  }
  p {
    font-size: 15px;
  }
}
.navbar {
  border-radius: 3px;
  padding: 8px;
}
.container-body {
  margin: 0px 20px;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.navbar-brand {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 35px;
  color: var(--primary-color);
}
.nav-link {
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", cursive;
}
.dropdown-item {
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", cursive;
}
h1 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 18px;
}

img {
  max-width: 80%;
  max-height: 80%;
}
a {
  text-decoration: none !important;
}
.links {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
}

.about {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px 15px 20px;
  margin: 20px 20px 20px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.contact {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 15px 20px 15px 20px;
  margin: 20px 20px 20px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.about-image {
  margin-bottom: 150px;
}
.logo-image {
  width: 35%;
  margin-top: 150px;
}

.title {
  font-size: 25px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100%;
  border: 1px solid var(--primary-color);
}
.title:hover,
.about:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.projectdescription {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 30px;
  background-color: var(--primary-color);
  color: white;
  direction: rtl;
}
.homepage {
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
}
.paragraph1 {
  margin: 10px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  font-size: 20px;
}
.paragraph2 {
  margin: 10px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  font-size: 20px;
}
.text-link {
  color: var(--secondary-color);
}
.text-link:hover {
  color: var(--secondary-color);
}
.footer {
  list-style: none;
  padding: 30px;
}
.social-media {
  display: inline;
  padding: 20px;
}
.social-media-link:hover {
}
